#aboutlist{
    text-decoration: none;
    padding: 0px;
}
.card{
    color: gray;
    margin: 0px 10px;
}
.card:hover{
    color: black;
    text-decoration: none;
}
.card li{
    display: block;
    border: 2px solid gray;
    padding: 0px 20px;
    transition: 0.3s;
}
.card li:hover{
    border-color: black;
}
.card p{
    font-size: medium;
    font-weight: normal;
}

.iconbox {
    display: flex;
    align-items:end;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.iconbox a {
    opacity: 0.5;
    padding: 0 4px;
}

.iconbox a:hover {
    text-decoration: none;
    opacity: 1;
}

#icondetail img {
    display: none;
}

#github_icon:hover~#icondetail>#github_profile,
#bilibili_icon:hover~#icondetail>#bilibili_profile,
#genshin_icon:hover~#icondetail>#genshin_profile,
#starrail_icon:hover~#icondetail>#starrail_profile
{
    display: block;
}

#github_profile, #bilibili_profile, #genshin_profile, #starrail_profile {
    padding-top: 5px;
}

#icondetail {
    width: 100%;
}

#icondetail img{
    margin: 0 auto;
    width: min(100%, 450px);
}
