.imgcard {
    border: 2px solid gray;
    padding: 3px;
}

@media(min-width: 600px){
    .imgcard {
        max-width: 300px;
        margin-left: calc(50% - 150px);
        margin-right: calc(50% - 150px);
    }
}

@media(max-width: 600px){
    .imgcard {
        display: block;
        float: none;
        width: 95%;
        margin: 2px;
    }
}