body{
    margin: 0px;
}
#main{
    margin-bottom: 30px;
}

.widthlimit {
    width: min(850px, 100% - 4rem);
    margin-inline: auto;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#navigation{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
#navigation img{
    display: inline-block;
    vertical-align: middle;
}
#navigation ul{
    margin: 0px;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
}
#navigation ul li{
    display: inline-block;
    margin: 0px 10px;
}
#navigation a{
    color: white
}

h1, h2{
    text-align: center;
}
h2{
    font-weight: normal;
    font-size: medium;
    font-style: italic;
    padding-bottom: 10px;
}
p{
    margin: 5px 0px;
}

footer{
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    background-color: #E6E6E9;
    color: #777;
}
footer a{
    color: #555;
}

/* indent */
#main > p::before{
    content: "　　";
}

/* block */
blockquote{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}